/*弹出层样式*/
.reveal-modal-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.6);
	z-index: 100;
	display: none;
	top: 0;
	left: 0;
}
.reveal-modal {
	width: 550px;
	height: 320px;
	border: 2px solid #ccc;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	background: white;
	visibility: hidden;
	top: 100px;
	left: 50%;
	margin-left: -300px;
	position: absolute;
	z-index: 101;
	padding: 20px 15px 24px;
	box-shadow: 0 0 10px rgba(0,0,0,.4);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-o-box-shadow: 0 0 10px rgba(0,0,0,.4);
}
.reveal-modal .close-reveal-modal {
	font-size: 22px;
	line-height: 0.5px;
	position: absolute;
	top: 8px;
	right: 11px;
	color: #aaa;
	text-shadow: 0 -1px 1px rbga(0,0,0,.6);
	font-weight: bold;
	cursor: pointer;
}
.close-icon {
	width: 24px;
	height: 24px;
	margin-right: 8px;
	vertical-align: middle;
}
/*输入框样式*/
.text input {
	display: block;
	width: 320px;
	height: 36px;
	border: 2px solid #ccc;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	padding-left: 5px;
	font-size: 16px;
	line-height: 36px;
	margin: 40px auto;
}
/*按钮*/
.button-container {
	width: 120px;
	margin: 60px auto;
}
#login-button {
	width: 120px;
	height: 35px;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	background: #408ac9;
	color: white;
	font-size: 18px;
}